<!DOCTYPE html>
<html lang="en">
  <%-include('./partial/head.ejs') %>
  <body>
    <%-include('./partial/unauthnav.ejs') %>
    <div class="pt-12 pr-28 pl-28">
      <form method="post" action="">
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="text"
            name="username"
            id="username"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-900 peer"
            placeholder=" "
            required=""
            value="<% typeof user === 'undefined' ? '' : user.username %>"
          />
          <label
            for="username"
            class="font-main peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:font-main"
            >Username</label
          >
          <% if (typeof exerr !== 'undefined') { %> <% if (exerr) { %>
          <span class="text-sm text-red-500">* <%= exerr %> </span>
          <%} %> <% } %>
        </div>
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="password"
            name="password"
            id="password"
            class="font-main block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-900 peer peer"
            placeholder=" "
            required=""
          />
          <label
            for="password"
            class="font-main peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Password</label
          >
          <% if (typeof errors !== 'undefined') { %> <% errors.forEach(error =>
          { %> <% if (error.msg === 'No spaces are allowed in the password') {
          %>
          <span class="text-sm text-red-500"
            >* No spaces are allowed in the password</span
          >
          <%} %> <% }) %> <% } %>
        </div>
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="password"
            name="repeat_password"
            id="repeat_password"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-900 peer"
            placeholder=" "
            required=""
          />
          <label
            for="repeat_password"
            class="font-main peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:font-main"
            >Confirm password
          </label>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 mb-6 w-full group">
            <input
              type="text"
              name="firstname"
              id="firstname"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-900 peer"
              placeholder=" "
              required=""
              value="<% typeof user === 'undefined' ? '' : user.firstname %>"
            />
            <label
              for="firstname"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >First name</label
            >
          </div>
          <div class="relative z-0 mb-6 w-full group">
            <input
              type="text"
              name="lastname"
              id="lastname"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white focus:outline-none focus:ring-0 focus:border-gray-900 peer"
              placeholder=" "
              required=""
              value="<% typeof user === 'undefined' ? '' : user.lastname %>"
            />
            <label
              for="lastname"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Last name</label
            >
          </div>
        </div>

        <button
          type="submit"
          class="text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
          Submit
        </button>
      </form>
      <% if (typeof errors !== 'undefined') { %> <% errors.forEach(error => { %>
      <span class="text-sm text-red-500">* <%= error.msg %> </span>
      <% }) %> <% } %>
    </div>
  </body>
</html>
