<nav
  class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light"
>
  <div
    class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
  >
    <a href="/">
      <h1 class="text-gray-200 py-2 px-2.5 font-main font-extrabold text-4xl">
        MEMBERS<span class="text-lg underline underline-offset-1">ONLY</span>
      </h1>
    </a>
    <div class="flex items-center relative">
      <!-- Icon -->
      <a
        class="text-gray-200 opacity-80 hover:opacity-100 focus:opacity-80 mr-4 font-main font-bold text-lg"
        href="/messages/create"
      >
        CREATE
      </a>
      <a
        href="/users/logout"
        class="text-gray-200 opacity-80 hover:opacity-100 focus:opacity-80 mr-4 font-main font-bold text-lg"
      >
        LOGOUT
      </a>
    </div>
  </div>
</nav>
